<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Quick Trivia</title>

    <!-- css style -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- google fonts  -->
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&family=Lobster+Two:wght@400;700&family=Montserrat:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>

    <div class="container">

      <div class="top-bar">

    <div class="title">
      <h1>quick trivia</h1>
    </div>

    <div class="navigation">

      <%  if(user != ""){ %>
        <form class="logout" action="/logout" method="post">
          <button class="logout-link" type="submit">Log out</button>
        </form>

        <a class="nav-link" href="/">Home</a>
        <a class="nav-link view-info">View User Info</a>
          <div class="info-box">
            <span class="info-box-main-title">Hey, <%= user.fname %></span>
            <br />
            <span class="info-box-titles">username: </span><span class="info"><%= user.username %></span>
            <br />

          </div>



    <%    } else { %>
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/login">Login</a>
      <a class="nav-link" href="/register">Register</a>

    <%    } %>

    </div>
    </div>

  </head>

  <body>
